# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

/Users/luke/cursor-projs/piano/src/assets/sounds/*

# Editor directories and files
.vscode/*
\!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build files
/dist/
/build/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# package-lock file
package-lock.json

# Cursor-specific files
.cursor/

# Temp files
.tmp/
